body {
  margin: 0;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
}

.viewport {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60vw;
  margin: 1vh;
  background-color: white;
  border-radius: 2vh;
  justify-content: center;
  align-items: center;
  border: 0.25vh solid #808080;
}
